<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.suifeng.sdk.permission">

    <application>
        <activity
                android:name=".widget.AppSettingsHolderActivity"
                android:exported="false"
                android:label=""
                android:theme="@style/PermissionTransparent" />
        <activity
                android:name=".widget.PermissionActivity"
                android:exported="false"
                android:label=""
                android:theme="@style/PermissionActivityTransparent" />
    </application>
</manifest>